.error-information{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #0f3263;
    border-top: 5px solid #2b70d3;

    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all .3s ease;
}
.error-information:hover{
    cursor: default;
    filter: brightness(110%);
    transition: all .3s ease;
}
.error-information img{
    height: 120px;
    margin-bottom: 1.5rem;
}
.error-information h3{
    color: #fff;
}
.error-information p{
    color: #fff;
    opacity: .8;
    text-align: center;
    margin-top: 1rem;
}