@import url('../../../colors.css');

.table-wrapper{
    background-color: var(--primary-normal);
}
    .menu-wrapper {
        display: flex;
        padding: 1rem 2rem 2rem 2rem;
        gap: 1rem;
        align-items: center;
    }

.table tbody tr.edited-row {
    background-color: var(--primary-lightest) !important;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    font-size: 0.2rem;
    height: 75vh;
    overflow-y: auto;
}
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        border: 1px solid #ccc;
        padding: 2px;
        text-align: left;
        font-size: calc(0.8em + 0.5vw);
        height: 100%;
        position: relative;
    }
    .table thead th{
        position: sticky;
        top: 0;
        background-color: #f4f4f4;
        z-index: 1;
        border: none;
    }
    .table th {
        background-color: #f4f4f4;
    }
    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }
    .table tbody tr:hover {
        background-color: #eaeaea;
    }
    .table tbody tr {
        cursor: text;
    }

.search-bar, .date-input, .action-button {
    width: 20%;
    padding: 0.5rem 1rem;
    font-size: calc(0.5em + 0.5vw);
    border: 1px solid #0f3263;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
    background-color: #f5f5f5;
}
    .search-bar:focus, .date-input:focus, .action-button:focus {
        border-color: var(--primary-light);
        box-shadow: 0 0 5px var(--primary-light);
        background-color: #fff;
    }
    .search-bar:hover{
        cursor: text;
    }

.action-button {
    border: 1px solid var(--primary-light);
}
    .action-button:hover {
        background-color: var(--primary-light);
        transition: .1s ease;
        color: #fff;
    }

.table-input {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: inherit;
    border: none;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    .table-input:focus {
        border: 1px solid #0019d7;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
    }

.table button {
    padding: 4px 8px;
    font-size: inherit;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.table button:hover {
    background-color: #eaeaea;
}

.status-bar {
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    font-size: calc(0.3em + 0.5vw);
    color: #555;
    color: #000;
    opacity: .6;
}

.toggle-button {
    width: 6rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 1px solid var(--primary-light);
    /* background-color: #f4f4f4; */
    background-color: var(--primary-normal);
    font-size: .7rem;
    text-align: center;
    line-height: 2.2rem;
    cursor: pointer;
    font-weight: normal;
    color: #ddddde;
    transition: all 0.3s ease;
  }
  
  .toggle-button:hover {
    color: white;
    border-color: var(--primary-lightest);
  }
  
  .toggle-button.active {
    background-color: var(--primary-lightest);
    background-color: var(--primary-normal);
    background-color: var(--primary-light);
    color: white;
  }
  
  
.new-field-menu-wrapper{
	background-color: #041e42;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-field-wrapper{
	background-color: #000;
}
	.new-field-input {
		width: 100%;
		padding: 0.5rem 1rem;
		font-size: calc(0.5em + 0.5vw);
		border: 1px solid #0f3263;
		border-radius: 4px;
		outline: none;
		transition: all 0.3s ease;
		text-align: center;
		cursor: pointer;
		background-color: #f5f5f5;
	}
    .new-field-input{
        border-color: var(--primary-light);
        box-shadow: 0 0 5px var(--primary-light);
        background-color: #fff;
    }
    .new-field-input:hover{
        cursor: text;
    }





.newfield-wrapper{
    background-color: var(--primary-normal);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    .newfield-wrapper h1{
        color: #fff;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    .newfield-wrapper .toggle-button{
        margin: .5rem;
        background-color: var(--primary-light);
    }

.newfield-container {
    width: 100%;
    overflow-x: auto;
    font-size: 0.2rem;
    min-height: 2rem;
    overflow-y: auto;
    background-color: transparent;
    padding: .5rem;
}

.newfield-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    gap: 1px;
}

.newfield-input {
    width: 20%;
    padding: 4px;
    font-size: calc(0.4em + 0.5vw);
    border: 1px solid #ccc;
    text-align: left;
    box-sizing: border-box;
    outline: none;
    background-color: #ececec;
    margin: 0 auto;
}

.newfield-input:hover {
    background-color: #ffffff;
    cursor: text;
}

.newfield-input:focus {
    border: 1px solid #0019d7;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}
